.header {
	width: 100%;
}

.msg {
	margin-bottom: 8px;
}

.chat {
	margin: 0 !important;
}

.msgs {
	width: 100% !important;
	padding: 14px 0 !important;
}

.sender {
	margin-bottom: 8px !important;
}
