.header {
	width: 100%;
}

.user {
	margin-bottom: 8px;
	cursor: pointer;
}

.container {
	margin: 0 !important;
}

.list {
	width: 100% !important;
	padding: 14px 0 !important;
}

.label {
	margin-left: 32px !important;
}

.flex {
	width: 100% !important;
	display: flex !important;
	justify-content: space-between !important;
	align-items: center;
}
